body {
    background: white url("images/logo1.png") no-repeat;
    background-position: center;
    background-size: 400px;
    height: 750px;
}
h1{
    color: #04784c;
    font-weight: bold;
    text-align: center;
}
li a {
    color: black;

}